@using DemoKanban.Controllers;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUserViewModel>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Current role</th>
            <th>Assign new role</th>
            <th>Assign Date of Brith</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            var currentRole = string.IsNullOrEmpty(user.Role?.Name) ? "-" : user.Role?.Name;

            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@currentRole</td>
                <td>
                    <form asp-action="AssignRole" method="post">
                        <input name="userId" type="hidden" value="@user.Id" />
                        <select name="roleName">
                            @foreach (var r in ViewData["availableRoles"] as IEnumerable<IdentityRole>)
                            {
                                if(user.Role?.Name == r.Name)
                                {
                                    <option selected value="@r.Name">@r.Name</option>
                                } 
                                else
                                {
                                    <option value="@r.Name">@r.Name</option>
                                }
                            }
                        </select>
                        <button type="submit">Save</button>
                    </form>

                </td>
                <td>
                    <form asp-action="AssignDateOfBirth" method="post">
                        <input name="userId" type="hidden" value="@user.Id" />
                        <input name="dateOfBirth" type="date" value="@user.DateOfBirth?.ToString("yyyy-MM-dd")" />
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>