@using DemoKanban.Controllers;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUserViewModel>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Current role</th>
            <th>Assign new role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            var role = string.Join(",", user.Roles.Select(m => m.Name));
            var currentRole = string.IsNullOrEmpty(role) ? "-" : role;

            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@currentRole</td>
                <td>
                    <form asp-action="AssignRole" method="post">
                        <select name="role">
                            @foreach (var r in ViewData["availableRoles"] as IEnumerable<IdentityRole>)
                            {
                                if(role == r.Name)
                                {
                                    <option selected value="@r.Id">@r.Name</option>
                                } 
                                else
                                {
                                    <option value="@r.Id">@r.Name</option>
                                }
                            }
                        </select>
                        <button type="submit">Save</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>